langchain==0.2.5
langchain-core==0.2.9
langchain-community==0.2.5

# LLM Providers
langchain-openai
langchain-mistralai
openai
mistralai

# Vector Database
chromadb==0.5.3
langchain-chroma==0.1.2

# Embedding Models
sentence-transformers

# Document Loaders dependencies
pypdf
unstructured
beautifulsoup4
lxml

# Text Processing
tiktoken

# Environment Variables
python-dotenv

# Data Handling
pandas
numpy

# API / App Layer
fastapi
uvicorn

# UI
streamlit

# Utilities
tqdm
requests
